{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="ui container">
        {% block content %}
        {% endblock content %}
        </div>
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>